* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;}
a{
    text-decoration: none;
    color:white;
}


.tagline {
    background-color: #003366; 
    color: #CCFFFF;
    text-align: center;
    padding: 10px 0;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 1px;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.486); 
}

.offer-section {
    position: relative;
    overflow: hidden;
    background-color: #99CCFF; 
    padding: 20px 0px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-slider {
    display: flex;
    width: max-content;
    animation: slide 18s linear infinite; 
}

.offer {
    height: 200px;
    width: 300px;
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
    border: 2px solid #336699;
}

.offer-section {
    position: relative;
    overflow: hidden;
    background-color: #99CCFF; 
    padding: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-slider {
    display: flex;
    width: max-content;
    animation: slide 18s linear infinite; 
}

.offer {
    height: 200px;
    width: auto;
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
    border: 2px solid #336699;
    margin-right: 5px;
}

.offer img {
    height: 200px; 
    width: auto; 
    object-fit: cover; 
    border-radius: 15px; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
    border: 2px solid #336699; 
}

@keyframes slide {
    0% {
        transform: translateX(0) ;
    }
    100% {
        transform: translateX(-30%) ;
    }
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #003366;
    cursor: pointer;
    z-index: 2;
    background-color: #CCFFFF;
    padding: 5px;
    border-radius: 100%;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

@media (max-width: 768px) {
    .offer img {
        max-height: 200px;
    }
}

@media (max-width: 480px) {
    .offer img {
        max-height: 150px;
    }
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6699CC; 
    padding: 15px 30px;
    flex-wrap: wrap; 
}

.nav-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-left .logo img {
    height: 50px;
    margin-right: 10px;
}

.nav-left .urbankart-text {
    color: #CCFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 20px;
}

.search-container {
    position:relative;
    width: 400px; 
    margin-left: 20px;
}

.nav-left .search-bar {
    width: 100%; 
    padding: 12px; 
    font-size: 1.1rem; 
    border: none;
    border-radius: 5px;
    padding-left: 40px; 
    height: 40px; 
}

.nav-left .search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    pointer-events:stroke; 
}


.nav-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 30px; 
    flex-wrap: wrap; 
}

.nav-center .home,
.nav-center .categories,
.nav-center .cart,
.nav-center .account {
    color: #CCFFFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
}

.nav-center a:hover {
    color: #003366; 
    transform: scale(1.1); 
}

.nav-center a::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 2px;
    background-color: #003366; 
    bottom: -5px;
    left: 0;
    transition: width .8s ease; 
}

.nav-center a:hover::after {
    width: 100%; 
}

.nav-center .categories {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.nav-center .categories .arrow {
    font-size: 0.8rem;
    display: inline-block;
    transition: transform 1s ease; 
}

.nav-center .categories:hover .arrow {
    transform: rotate(180deg); 
}

.nav-center .dropdown-content {
    display: none; 
    position: absolute;
    background-color: #99CCFF; 
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0; 
    margin-top: 5px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.nav-center .categories:hover .dropdown-content {
    display: block; 
    animation: fadeIn 0.5s ease-in-out;
}



.nav-center .dropdown-content a {
    color: #003366;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.nav-center .dropdown-content a:hover {
    background-color: #336699; 
    color: #CCFFFF;
}

.nav-center .cart {
    display: flex;
    align-items: center;
    color: #CCFFFF; 
    text-decoration: none; 
    transition: color 0.3s ease, transform 0.3s ease; 
}

.nav-center .cart-icon {
    width: 20px;
    height: 20px; 
    margin-right: 5px; 
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.nav-center .cart:hover {
    color: #003366;
    transform: scale(1.1); 
}

.nav-center .cart:hover .cart-icon {
    transform: rotate(10deg) scale(1.2); 
    filter: brightness(1.2); 
}

.nav-center .account {
    display: flex;
    align-items: center;
}

.nav-center .profile-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

@media (max-width: 1024px) {
    .navbar {
        padding: 15px 20px;
    }

    .search-container {
        width: 300px; 
    }

    .nav-center {
        gap: 20px; 
    }

    .nav-center .categories {
        display: block;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 15px; 
    }

    .nav-left .urbankart-text {
        font-size: 1rem; 
        margin-right: 10px; 
    }

    .nav-left .search-bar {
        font-size: 1rem;
        padding: 10px;
    }

    .nav-center {
        display: flex;
        justify-content: space-between;
        width: 100%; 
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .nav-center .home,
    .nav-center .categories,
    .nav-center .cart,
    .nav-center .account {
        font-size: 0.9rem; 
    }

    .nav-center .cart-icon,
    .nav-center .profile-icon {
        width: 18px;
        height: 18px;
    }

   
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 15px; 
        flex-direction: column;
        align-items: center;
    }

    .nav-left .logo img {
        height: 40px; 
    }

    .search-container {
        width: 80%; 
        margin: 10px 0;
    }

    .nav-center {
        gap: 10px;
        align-items: center;
    }

    .nav-center .home,
    .nav-center .categories,
    .nav-center .cart,
    .nav-center .account {
        font-size: 0.85rem;
    }

    .nav-center .cart-icon,
    .nav-center .profile-icon {
        width: 16px;
        height: 16px;
    }
}


.contact-section {
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color:#003366;
    margin-bottom: 0px;
}

.contact-column {
    flex: 1 1 200px;
    margin: 10px;
    max-width: 250px;
}

.contact-column h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #99CCFF;
    padding-bottom: 5px;
}


.contact-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-column ul li {
    margin-bottom: 10px;
}

.contact-column ul li a {
    color: #CCFFFF;
    text-decoration: none;
    font-size: 1rem;
}

.contact-column ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #003366;
    color: #CCFFFF;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: auto;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2); 

}
footer {
    background-color: #003366;
    color: #CCFFFF;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: auto;

}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.shop-by-category {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.shop-by-category h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #003366;
    margin-bottom: 20px;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
    margin:0 auto;
}

.category-box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-box:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(77, 118, 224, 0.7);
}

.category-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px rgb(146, 146, 146);
}


.category-box p {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-top: 5px;
}

@media (max-width: 480px) {
    .categories-container {
        flex-direction: column;
        align-items: center;
    }
}





.shop-by-brand {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.shop-by-brand h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #003366;
    margin-bottom: 20px;
}

.shop-by-brand button {
    background-color: #003366;
    padding: 15px;
    border-radius: 40px;
    border: 2px solid transparent; 
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.shop-by-brand button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(9, 68, 146, 0.647);
    border: 2px solid #003366;
}

.shop-by-brand button:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0), transparent 70%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.brands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 900px;
    margin: 0px auto;
}

.brand-box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
}

.brand-box:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(77, 118, 224, 0.634);
}

.brand-box:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(0,0,0,0), transparent 70%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 0.2s ;
    opacity: 1;
}

.brand-box:hover {
    border: 2px solid #003366;
}

.brand-box img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #003366;
}

.brand-box p {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-top: 5px;
}

@media (max-width: 480px) {
    .brands-container {
        flex-direction: column;
        align-items: center;
    }
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    box-sizing: border-box; 
}

.product-card img {
    width: 100%; 
    height: 200px; 
    object-fit: contain;
    border-radius: 8px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #336699; 
    color: #fff;
    border: none;
    padding: 8px 16px; 
    margin: 10px auto; 
    border-radius: 50px; 
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s; 
    display: inline-block; 
    text-transform: uppercase; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 139.58px; 
}


.product-card button:hover {
    background-color: #003366; 
    transform: translateY(-2px); 
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




h1{
    text-align: center;
    margin-top: 10px;
    color: #003366;
    

        text-shadow: 0px 0px 3px rgba(178, 200, 228, 0.6); 
}
.main-section h1{
    text-align: center;
    margin-top: 10px;
    color: #003366;
    

        text-shadow: 0px 0px 3px rgba(178, 200, 228, 0.6); 
      
      
      
}



